html{
    height: 100%;
}

body{
    background-color: #6a7b86;
    background-image: url("../images/login_background.png"), url("../images/background.png");
    background-position: center top, center top;
    background-repeat: repeat-x, repeat;
}
div#login{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
div#login .col-lg-12{
    margin-bottom: 20px;
}
main button{
    color: #fff;
}